{
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"sortingMethod": "lineLength",
	"plugins": ["./node_modules/prettier-plugin-sort-imports/dist/index.js"]

}
